DATABASE_URL="postgresql://carbon_user:carbon_password@db:5432/carbon_flama?schema=public"
NEXTAUTH_SECRET="carbon-flama-secret-key-123"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
